//マップ型変数breakpointsを定義
$breakpoints: (
//キー　　値
 'sm': 'screen and (max-width: 767px)',
 'md': 'screen and (min-width: 768px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
/*===
#color
===*/
$font-color: #3E3E3E; 

/*===
#common
===*/
@include mq(sm) {
  .is-pc {
    display: none;
  }
}

@include mq(md) {
  .is-sp {
    display: none;
  }
}

.section-title {
  font-size: 36px;
  color: $font-color;
  font-weight: Semi-bold;
  font-family: Montserrat;
  text-align: center;

  @include mq('sm') {
    font-size: 30px;
  }
}

.white {
  color: #fff;
}

.util-btn {
  display: block;
  font-size: 20px;
  font-family: SemiBold Montserrat;
  letter-spacing: 5px;
  border: 1px solid #FFFFFF;
  color: #fff;
  width: 300px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin-top: 88px;

  @include mq('sm') {
    width: 343px;
    height: 54px;
    line-height: 54px;
  }
}

body {
  max-width: 100%;
  font-family: Yu Gothic,serif;
  background: #F3F3F3;
  z-index: 5;
}

img {
  max-width: 100%;
}

main {
  overflow: hidden;
  @include mq('sm') {
    overflow: hidden;
  }
}

.header{
  display: block;
  background: #ec4c4c1a;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  max-width: 100%;

  @include mq('sm') {
    height: 68px;
  }


  &-inner {
  height: 80px;
  line-height: 80px;
  // align-items: center;

  // @include mq('sm') {
  //   height: 68px;
  //   line-height: normal;
  // }
}

&-sp-logo {
  display: block;
  width: 200px;
  height: 25px;
  align-items: center;
  margin: 21px 0 21px 16px;
}

&-items {
  display: flex;
  width: 100%;
  letter-spacing: .04px;
  font-size: 16px;
  font-family: Montserrat;
  justify-content: center;

  @include mq('sm') {
    display: none;
  }
}

&-item-link{
  & + & {
    margin-left: 40px;
  }
}

&-item {
  display: block;
  color: $font-color;
}
}

.mainvisual {
   background: url(../img/mv.png) center center / cover;
   padding-top: 80px;
   width: 100%;
   height: 648px;

   @include mq('sm') {
    background: url(../img/mv.png) left center / cover;
     padding-top: 68px;
     height: 667px;
   }

  &-inner {
    margin-left: 733px;
    line-height: 1.5;

    @include mq('sm') {
      margin-left: 0;
      padding: 138px 0 0;
    }
  }

  &-title {
    margin-top: 140px;
    letter-spacing: 0.15px;
    font-size: 30px;
    font-weight: Bold;
    font-family: Yu Gothic;
    color: $font-color;

    @include mq('sm') {
      margin-top: 0;
      font-size: 24px;
      line-height: 1.75;
      margin-left: 20px;
    }
  }

  &-text {
    margin-top: 36px;
    font-size: 16px;
    color: $font-color;
    letter-spacing: 2.5px;

    @include mq('sm') {
      margin: 32px 20px 0;
      letter-spacing: .4px;
    }
  }

  &-btn {
    display: block;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .25px;
    width: 280px;
    height: 51px;
    line-height: 51px;
    color: #fff;
    background: #FFAA3B;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);

    @include mq('sm') {
      width: 232px;
      margin: 40px auto 0;
    }
  }
}

.news {
  
  &-inner {
    max-width: 1180px;
    margin: 130px auto 0;
    background-color: #FFFFFF;
    padding: 60px 50px 40px;

    @include mq('sm') {
      width: 343px;
      margin-top: -40px;
      padding: 46px 0;
    }
  }

  &-date-inner {
    margin-top: 66px;

    @include mq('sm') {
      margin-top: 40px;
    }

    &-inner {
      color: $font-color;
      display: block;
      position: relative;

      &:last-child{
        border-bottom: 1px solid #CECDCD;
      }
    }

    dl {
      display: flex;
      padding: 40px 0;
      border-top:1px solid #CECDCD ;

      @include mq('sm') {
        display: block;
        padding: 14px 47px 14px 16px;
      }

      &::after {
        content: "";
        position: absolute;
        background: url(../img/news-arrow.svg);
        width: 15px;
        height: 25px;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        @include mq('sm') {
          right: 9px;
        }
      }

      dt {
        font-size: 18px;
        color: $font-color;
        // letter-spacing: .015px;
        display: flex;
        width: 382px;
        align-items: center;
        margin-left: 10px;
        font-family: Montserrat;

        @include mq('sm') {
          font-size: 14px;
          margin-left: 0;
        }
      }
        
      dd {
        font-size: 18px;
        letter-spacing: .45px;
        width: calc(100% - 382px);
        margin-right: 30px;
        line-height: 1.5;

        @include mq('sm') {
          width: 100%;
          font-size: 14px;
          letter-spacing: .35px;
          margin-top: 10px;
        }
      }
    }
  }
  
  &-label {
    display: inline-block;
    margin: 0 50px;
    width: 125px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .35px;
    color: $font-color;
    border: 2px solid #3B69FF;
    border-radius: 50px;

    @include mq('sm') {
      margin-left: 16px;
      width: 89px;
      height: 24px;
      line-height: 20px;
      font-size: 12px;
    }
  }

  &-btn {
    text-align: center;
    margin-top: 40px;

    a {
    display: inline-block;
    width: 248px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    color: $font-color;
    font-family: SemiBold Montserrat;
    border: 1px solid #707070;

    @include mq('sm') {
      width: 311px;
      height: 54px;
      line-height: 54px;
    }
  }
}
}

.service {
  height: 400px;
  background-color: #3E3E3E;
  padding-top: 80px;
  margin-top: 130px;

  @include mq('sm') {
    margin-top: 60px;
    padding-top: 40px;
  }

  &-inner {
    background-color: #fff;
    width: 960px;
    margin: 80px auto 0;
    padding: 58px 48px 54px;
    display: flex;
    justify-content: space-between;

    @include mq('sm') {
      display: block;
      margin-top: 40px;
      padding: 40px 16px;
      width: 343px;
      justify-content: flex-start;
    }

    &-items {
      text-align: center;
      vertical-align: middle;
      width: 231px;

      @include mq('sm') {
        width: 100%;
        & + & {
          margin-top: 57px;
        }
      }

      &-logo {
        width: 50px;
        height: 43px;
      }

      &-title {
        margin-top: 25px;
        font-size: 20px;
        color: $font-color;
        letter-spacing: 4.6px;
        font-family: SemiBold Montserrat;
        line-height: 1.5;

        @include mq('sm') {
          line-height: 1.35;
          letter-spacing: 4px;
        }
      }

      &-text {
        margin-top: 16px;
        font-size: 14px;
        letter-spacing: .1px;
        color: $font-color;
        font-family: Regular Yu Gothic;
        line-height: 1.714;
        text-align: left;

        @include mq('sm') {
          margin-top: 20px;
        }
      }
    }
  }
}

.results {
  margin-top: 255px;
  width: 1273px;
  margin-left: auto;
  background-color: $font-color;

  @include mq('sm') {
    width: 100%;
    margin: 530px 0 0 0;
  }

  &-title {
    text-align: left;

    @include mq('sm') {
      text-align: center;
    }
  }

  &-inner {
    padding: 80px 0 80px 110px;

    @include mq('sm') {
      margin-top: 60px;
      padding: 40px 0 40px 16px;
    }
  }

  &-items {
    margin-top: 80px;

    @include mq('sm') {
      margin-top: 40px;
    }
  }

  &-item {
    width: 422px !important;
    height: 368px;
    background-color: #fff;
    @include mq('sm') {
      width: 276px !important;
      height: 251px;
    }

    &-logo {
      height: 234px;

      @include mq('sm') {
        height: 155px;
      }
    }

    &-title {
      font-size: 20px;
      color: $font-color;
      font-weight: bold;
      letter-spacing: .8333px;
      margin: 24px 0 22px 20px;

      @include mq('sm') {
        font-size: 15px;
        margin: 12px 0 0 12px;
      }
    }

    &-text {
      font-size: 16px;
      letter-spacing: .6666px;
      color: $font-color;
      margin-left: 20px;
      line-height: 1.5;

      @include mq('sm') {
        font-size: 12px;
        margin: 12px;
      }
    }


  }

  &-btn {
    margin-top: 116px;

    @include mq('sm') {
      margin: 85px auto 0;
    }
  }

  &-btn a  {
    color: #fff;
  }
}

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  & + & {
    margin-left: 40px;
  }
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

.results-item .slick-slide .slick-active {
  width: 422px;
}

.results-item .slick-slide .slick-current .slick-active {
  width: 422px;
}

.price {
  margin-top: 86px;

  @include mq('sm') {
    margin-top: 44px;
  }
  &-inner {
    max-width: 960px;
    margin: 85px auto 0;

    @include mq('sm') {
      width: 343px;
      margin: 44px auto 0;
    }

    dl {
      display: flex;
      height: 60px;
      line-height: 60px;
      font-size: 26px;
      border: 1px solid #707070;
      font-family: SemiBold Montserrat;

      @include mq('sm') {
        font-size: 20px;
      }

      dt {
        width: 30%;
        background-color: $font-color;
        color: #fff;
        text-align: center;
      }

      dd {
        width: 70%;
        background-color: #fff;
        color: $font-color;
        padding-left: 40px;
        font-size: 24px;

        @include mq('sm') {
          padding-left: 20px;
          font-size: 20px;
        }
      }
    }
   }
    &-text p {
      color: $font-color;
      font-size: 12px;
      margin-top: 24px;

      @include mq('sm') {
        margin-top: 14px;
      }
    }
  
}

.comments {
  margin-top: 281px;
  width: 980px;
  height: 600px;
  background-color: $font-color;
  position: relative;

  @include mq('sm') {
    margin: 120px auto 0;
    width: 100%;
    height: 450px;
    
  }

  &-inner {
    content: "";
    position: absolute;
    width: 644px;
    height: 616px;
    top: -150px;
    left: 93px;
    background-color: #fff; 
    padding: 86px 40px 120px;

    @include mq('sm') {
      width: 343px;
      height: 450px;
      padding: 46px 20px;
      top: -60px;
      left: 16px;
    }
  }

  &-title {
    text-align: left;
  }

  &-items {
    margin-top: 84px;
    
    @include mq('sm') {
      margin-top: 44px;
    }
  }

  &-item {
    display: flex;
    & + & {
      margin-top: 80px;
    }

    @include mq('sm') {
      & + & {
        margin-top: 32px;
      }
    }
  }

  &-logo {
    width: 100px;
    height: 100px;
    margin-right: 50px;

    @include mq('sm') {
      width: 56px;
      height: 56px;
      margin-right: 24px;
    }
  }

  &-text {
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 1.65;
    color: $font-color;

    @include mq('sm') {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &-picture {
    content: "";
    position: absolute;
    width: 537px;
    height: 450px;
    top: -24px;
    left: 737px;
    background: url(../img/comments3.png);
    background-size: cover;

    @include mq('sm') {
      display: none;
    }
  }
}

.qa {
  background: url(../img/sunyu-kim-1053375-unsplash.png) left center / cover no-repeat;
  width: 100%;
  height: 1065px;

  @include mq('sm') {
    height: 940px;
    background: url(../img/sunyu-kim-1053375-unsplash.png) center center / cover;
  }

  &-inner {
    padding-top: 80px;
    @include mq('sm') {
      padding-top: 46px;
    }
  }

  &-items {
    margin: 80px 110px 80px 640px;

    @include mq('sm') {
      margin: 40px auto;
    }
  }

  &-item {
    background-color: #fff;
    border-radius: 7px;
    // padding: 18px;
    & + & {
      margin-top: 40px;
    }

    @include mq('sm') {
      width: 343px;
      margin: 0 auto;

      & + & {
        margin-top: 30px;
      }
    }
  }

  &-accordion_head {
    padding: 22px 0 21px 57px;
    font-size: 16px;
    color: $font-color;
    position: relative;

    @include mq('sm') {
      
    }
  }

  &-accordion-back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    background: #3B69FF;
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  &-accordion_head::before {
    content: "Q";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
    color: #ffffff;
    font-size: 18px;
    z-index: 5;
  }


  &-accordion_icon {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    background: transparent url(../img/plus.svg) no-repeat center center/contain;
    cursor: pointer;
  }

  &-accordion_minus {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    background: transparent url(../img/minus.svg) no-repeat center center/contain;
    cursor: pointer;
  }


  &-accordion_body {
    display: none;
    max-width: 580px;
    padding: 18px 14px 14px;
    margin: auto;
    color: $font-color;
    background-color: rgba(59, 105, 255, 0.2);
    font-size: 16px;
    border-radius: 7px;
    position: relative;

    @include mq('sm') {
      width: 306px;
      margin-bottom: 14px;
    }
  }
}

.access {
  background-color: $font-color;
  width: 980px;
  height: 568px;
  position: relative;

  @include mq('sm') {
    width: 100%;
  }

  &-title {
    text-align: left;
  }

  &-inner {
    padding: 130px 0 0 93px;

    @include mq('sm') {
      padding: 44px 16px;
    }
  }

  &-nav {
    margin-top: 40px;
    color: #fff;
    line-height: 1.625;

    @include mq('sm') {
      font-size: 12px;
      line-height: 2;
    }
  }

  &-btn {
    margin-top: 40px;
    width: 326px;

    @include mq('sm') {
      margin-top: 300px;
      width: 343px;
      font-size: 18px;
    }
  }

  &-maps {
    content: "";
    width: 720px;
    height: 515px;
    position: absolute;
    top: 130px;
    left: 554px;
    box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);

    @include mq('sm') {
      width: 343px !important;
      height: 241px !important;
      top: 199px;
      left: 16px;
    }
  }

  &-map {
    height: 0;
    overflow: hidden;
    padding-bottom: 71.25%;
    position: relative;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.contact {
  margin-top: 206px;
  background: url(../img/alex-blajan-159378-unsplash.png) center center / cover no-repeat;
  max-width: 100%;
  padding: 80px 0;

  @include mq('sm') {
    margin-top: 0;
    padding: 48px 0;
  }

  &-inner {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;

    @include mq('sm') {
      width: 343px;
    }
  }

  &-title-inner {
    background: url(../img/contact12.png) center center/cover;
    height: 200px;
    padding: 60px 0;
    text-align: center;
    border-radius: 12px 12px 0 0;

    @include mq('sm') {
      padding: 36px 16px;
      text-align: left;
      height: 160px;
    }
  }

  &-title-text {
    color: #fff;
    margin-top: 20px;

    @include mq('sm') {
      margin-top: 12px;
      font-size: 14px;
      line-height: 1.75;
    }
  }

  &-form-aria {
    padding: 60px 90px;

    @include mq('sm') {
      padding: 42px 16px;
    }
  }

  &-item {
    display: flex;
    position: relative;
    line-height: 1;

    & + & {
      margin-top: 40.5px;
    }

    @include mq('sm') {
      display: block;
      & + & {
        margin-top: 42px;
      }
    }
  

    &-title {
      width: 195px;
      font-size: 22px;
      color: $font-color;
      position: relative;

      @include mq('sm') {
        width: 100%;
        font-size: 16px;
      }
    }

    &-input {
      margin-left: 80px;

      @include mq('sm') {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    &-input input[type='text'],
            input[type='email'] {
      box-sizing: border-box;
      font-size: 22px;
      width: 505px;
      padding-left: 10px;
	    transition: 0.3s;
	    color: $font-color;
	    border: none;
	    border-bottom: 1px solid #3E3E3E;
      background: transparent;

      @include mq('sm') {
        width: 100%;
        font-size: 16px;
      }
    }

    &-select {
      width: 261px;
      height: 32px;
      padding-left: 20px;
      font-size: 17px;

      @include mq('sm') {
        margin-top: 4px;
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
      }
    }

  }

  &-inline {
    display: inline-block;
    position: absolute;
    width: 55px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #FF4646;
    border-radius: 5px;
    right: 0;

    @include mq('sm') {
      position: static;
      margin-left: 20px;
    }
  }

  &-radio-wrap {
    @include mq('sm') {
      margin-top: 18px; 
    }
  }

  &-radio {
    & + & {
      margin-left: 50px;
    }

    @include mq('sm') {
      & + & {
        margin-left: 95px;
      }
    }
  }

  &-radio-part {
    font-size: 22px;
    color: $font-color;

    @include mq('sm') {
      font-size: 16px;
    }
  }

  &-item1 {
    margin-top: 46px;
    text-align: left;

    @include mq('sm') {
      margin-top: 40px;
    }
  }

  &-textarea {
    width: 780px;
    height: 213px;
    margin-top: 20px;

    @include mq('sm') {
      width: 100%;
      height: 160px;
      margin-top: 12px;
    }
  }

  &-footer-text {
    display: block;
    margin-top: 4px;
    line-height: 1;

    @include mq('sm') {
      margin-top: 14px;
    }
  }

  &-privacy input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
  }

  &-privacy-link {
    color: $font-color;
    font-size: 18px;
    margin-left: 12px;

    @include mq('sm') {
      font-size: 16px;
      margin-left: 6px;
    }
  }

  &-submit {
    display: block;
    width: 174px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #FFAA3B;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin-top: 30px;

    @include mq('sm') {
      width: 121px;
      margin: 20px auto 0;
    }
  }
}

.footer {
  background-color: $font-color;


  &-inner {
    padding: 120px 93px;
    display: flex;

    @include mq('sm') {
      display: block;
      padding: 0;
      text-align: center;
    }
  }

  &-left {
    margin-right: auto;

    @include mq('sm') {
      margin-right: 0;
    }
  }

  &-icons {
    display: flex;
    margin-bottom: 40px;
    @include mq('sm') {
      padding: 52px 80px 0;
      margin-bottom: 0;
    }
  }
  
  &-icon {
    font-size: 2.5em;
    color: rgb(85, 83, 83);
    margin-right: 20px; 

    @include mq('sm') {
      & + & {
        margin-left: 110px;
      }
    }
  }

  &-icon a {
    color: rgb(85, 83, 83);
  }
  &-items {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.45px;

    @include mq('sm') {
      font-size: 14px;
    }
  }

  &-item {
    & + & {
      margin-top: 24px;
    }

    @include mq('sm') {
      display: inline-block;
      margin-top: 40px;

      & + & {
        margin-left: 68px;
      }

      & + & + & {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }

  &-right {
    margin-left: auto;
    margin-top: 54px;

    @include mq('sm') {
      margin-left: 0;
      margin-top: 68px;
    }
  }

  &-title {
    font-size: 44px;
    color: #E3E3E3;
    font-family: Berlin Sans FB;
    letter-spacing: -2.5px;

    margin-right: 9px;

    @include mq('sm') {
      font-size: 34px;
      margin-right: 0;
      margin-top: 55px;
    }
  }

  &-copyright {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.6px;
    font: 12px/15px Montserrat;
    text-align: right;
    margin-top: 22px;

    @include mq('sm') {
      margin-top: 10px;
      text-align: center;
      padding-bottom: 92px;
    }
  }
}

.floating {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 93px;
  bottom: 39px;
  
  @include mq('sm') {
    right: 16px;
    bottom: 16px;
  }
}

.floating:hover {
  opacity: .6;
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}
